version: '3.7'

services:
  mariadb:
    image: mariadb:10.8
    ports:
      - "33063:3306"
    volumes:
      - ~/apps/flexyfield/mariadb:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=flexyfield
      - MYSQL_PASSWORD=flexyfield
      - MYSQL_USER=flexyfield
      - MYSQL_DATABASE=flexyfield
  postgres:
    image: postgres:15
    ports:
      - "54321:5432"
    volumes:
      - ~/apps/flexyfield/postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=flexyfield
      - POSTGRES_PASSWORD=flexyfield
      - POSTGRES_DB=flexyfield

networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: 172.11.10.0/24
