includes:
    - phpstan-baseline.neon

parameters:
    level: 7
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        # Traits are used in test models, but tests directory is not analyzed
        - '#Trait .* is used zero times and is not analysed#'
